html, body {
  height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family:sans-serif;
    scroll-behavior: smooth;
    list-style: none; /* para quitar estilos(puntos) de las listas */
}

header {
    background-color: #5e4632;
    color: white; /* color del texto blanco */
    justify-items: center;
    padding: 40px;
    
}

header nav ul li {
    float: left;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    
}
header nav ul li a:hover {
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

main {
    padding: 15px;
    background-color: #fffaf0; 
}

.inicio{
    padding: 15px;
}
.inicio p {
  text-align: center;
    padding: 10px;
    font-size: 22px;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3, h3 + ul { /* para etiquetas "h3" y "ul" */
  text-align: center; /*  */
    font-size: 25px;
}


.fondo-juguetes {
  width: 100%;
}


/* Carrito */
.carrito {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 20px;
  display: flex;
  background-color: #f37083;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.carrito-icon {
  width: 60px;
  height: 60px;
  
}
#cantidad-carrito {
  position: absolute;
  bottom: 35%;
  left: 50%;
  color: white;
  font-size: 18px;
  align-items: center;
  justify-self: center;
}
#suma-carrito {
  position: absolute;
  top: -30%;
  left: 40%;
  color: white;
}








footer{
    margin-top: 20px;
    background-color: #5e4632; 
    color: white; /* color del texto blanco */
    padding: 40px;
}





/*** tarjetas de los productos ***/
.tarjeta {
    width: 25%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 10px;
  }
  
  .tarjeta-imagen {
    width: 90%;
  }
  
  .titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  
  .precio {
    font-size: 20px; /* tamaño de letras 20 pixeles */
    font-weight: bold; /* hace que la fuente esté en negrita */
    margin: 10px 0;
  }
  
  .agregar {
    background-color: #ffb6c1; /* cambia color del fondo del boton */
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
  }
  .agregar:hover{
    background-color: #f37083; /* al pasar el ratón por encima del botón, cambia su color */
  }

  .lista-tarjetas {
    display: flex;
    flex-wrap: wrap; /* para mover la tarjeta a la siguente línea */
    gap: 20px;
    justify-content: center;
    
  }
  
    .tarjeta:hover .tarjeta-imagen{ 
        transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor por encima de la tarjeta */
        transition: transform 0.3s; /* cambia el tamaño suavemente en 0.3 segundos */
    }
  
  




/* Separador de secciones */
.separador {
    border: none; /* sin border */
    height: 50px; /* altura de 50 pixeles */
    background-color: #5e4632;
    margin: 30px 0;
    width: 100%; /* ancho 100% de la pantalla */
}

.contactos {
  text-align: center;
  margin: 30px;
}

.contactos strong {
  padding: 10px;
}

.contactos li {
  padding: 10px;
}






/*** Formulario ***/
form {
  width: 90%; /* ancho del formulario 90% de la pantalla */
  max-width: 800px; /* ancho maximo 800 pixeles */
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%; /* 100% del ancho del formulario */
  margin-bottom: 30px; 
  padding: 15px;
  border: 1px solid #ccc; /* border con color gris y tamaño de 1 pixel  */
  border-radius: 10px;
}

form textarea {
  min-height: 200px; /* altrura minima de textarea 200 pixeles */
}

form button {
  width: 100%; /* 100% del ancho del formulario */
  padding: 15px;
  background-color: #ffb6c1;
  color: white; /* color del texto es blanco */
  border: none; /* sin border */
  border-radius: 10px; 

}

form input:hover, textarea:hover {
  border: 1px solid black; /* al pasar el boton por encima aparece un border negro con tamaño 1 pixel */
}

form button:hover {
  background-color: #f37083;
}










/* para dispositivos con tamaño de la pantalla menos de 600pixeles */
  @media (max-width: 600px) { 
    .tarjeta{
      width: 60vw; /* ancho de las tarjetas 60% del ancho de la pantalla */
    }
    * {
      padding: 10px;
    }
    header{
      display: flex;
      /*padding: 0; */
    }
    .card-list{
      justify-content: center; /* colocamos las cartas en el centro de la pantalla */
    }
    .titulo{
      font-size: 20px;
    }
    .precio{
      font-size: 15px;
    }
    #cantidad-carrito {
      bottom: 21%;
      left: 36%;
      font-size: 16px;
      color: white;
      font-size: 18px;
    }
  }
  
  