*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    background-image: url(/ProyectoLM/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    /*width: 100%; /* ocupa todo el ancho de la página */
    position: fixed; /* si bajamos el la web menu nos acompañará  */
    top: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
    box-shadow: 0 5px 10px black;
}
header nav ul li {
    float:left;
}
header nav ul li a {
    padding: 15px;
    color: black;
    font-size: 20px;
    display: block;
}
header nav ul li a:hover {
    padding: 5px;
    /*border: 1px solid black;*/
}
